.a2_175 { 
	overflow:hidden;
}
.e2_175 { 
	background-color:rgba(255, 255, 255, 1);
	width:360px;
	height:800px;
	position:absolute;
}

.e2_181 { 
    background-color: rgba(74.0000031888485, 210.00000268220901, 153.00000607967377, 1);
    width: 345px;
    height: 44px;
    position: absolute;
    left: 7px;
    top: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.e2_182 { 
    color: rgba(255, 255, 255, 1);
    width: 148px;
    height: 23px;
    position: absolute;
    left: 104px;
    top: 101%;
    font-family: Roboto;
    text-align: center;
    font-size: 20px;
    letter-spacing: 0;
}
.e2_183 { 
	background-color:rgba(73.63124817609787, 210.37499696016312, 152.94259876012802, 1);
	width:169px;
	height:52px;
	position:absolute;
	left:7px;
	top:740px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e2_184 { 
	color:rgba(255, 255, 255, 1);
	width:102px;
	height:16px;
	position:absolute;
	left:37px;
	top:757px;
	font-family:Roboto;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
}

.e2_187 { 
	background-color:rgba(74.0000031888485, 210.00000268220901, 153.00000607967377, 1);
	width:168px;
	height:52px;
	position:absolute;
	left:184px;
	top:740px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e2_188 { 
	color:rgba(255, 255, 255, 1);
	width:104px;
	height:16px;
	position:absolute;
	left:218px;
	top:757px;
	font-family:Roboto;
	text-align:center;
	font-size:14px;
	letter-spacing:0;
}

.e2_197 { 
    width: 64px;
    height: 64px;
    position: absolute;
    left: 10px;
    top: 62%;
}
.e2_198 { 
	background-color:rgba(74.0000031888485, 210.00000268220901, 153.00000607967377, 1);
	width:53.33333206176758px;
	height:53.33333206176758px;
	position:absolute;
	left:5.3333330154418945px;
	top:5.3333330154418945px;
}
.e2_199 { 
    width: 238px;
    height: 60px;
    position: absolute;
    left: 74px;
    top: 481px;
    background-image: url(Imagenes/image_6.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.e2_200 { 
    color: rgba(0, 0, 0, 1);
    width: 35px;
    height: 18px;
    position: absolute;
    left: 306px;
    top: 493px;
    font-family: Inter;
    text-align: center;
    font-size: 15px;
    letter-spacing: 0;
}

.e2_201 { 
    color: rgba(0, 0, 0, 1);
    width: 85px;
    height: 12px;
    position: absolute;
    left: 256px;
    top: 541px;
    font-family: Inter;
    text-align: center;
    font-size: 10px;
    letter-spacing: 0;
}
.e2_202 { 
    background-color: rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
    width: 265px;
    height: 64px;
    position: absolute;
    left: 84px;
    top: 493px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.e2_202 { 
	border:1px solid rgba(73.63124817609787, 210.37499696016312, 152.94259876012802, 1);
}

.e2_206 { 
    background-color: rgba(252.87500202655792, 144.39162880182266, 44.253124594688416, 0);
    width: 344px;
    height: 158px;
    position: absolute;
    left: 7px;
    top: 571px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.e2_206 { 
	border:1px solid rgba(44.000001177191734, 132.0000073313713, 121.00000038743019, 1);
}
.e2_207 { 
    color: rgba(0, 0, 0, 1);
    width: 327px;
    height: 143px;
    position: absolute;
    left: 14px;
    top: 577px;
    text-align: left;
    font-size: Symbol(figma.mixed)px;
    letter-spacing: 0;
}

//2

.e2_210 { 
	background-color: rgba(74.0000031888485, 210.00000268220901, 153.00000607967377, 1);
    width: 345px;
    height: 44px;
    position: absolute;
	left: 7px;
    top: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.e2_211 { 
    color: rgba(255, 255, 255, 1);
    width: 148px;
    height: 23px;
    position: absolute;
    left: 104px;
    top: 101%;
    font-family: Roboto;
    text-align: center;
    font-size: 20px;
    letter-spacing: 0;
}
.e2_212 { 
	background-color: rgba(73.63124817609787, 210.37499696016312, 152.94259876012802, 1);
    width: 169px;
    height: 52px;
    position: absolute;
    left: 159%;
    top: 740px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.e2_213 { 
	color: rgba(255, 255, 255, 1);
    width: 102px;
    height: 16px;
    position: absolute;
    left: 168%;
    top: 757px;
    font-family: Roboto;
    text-align: center;
    font-size: 14px;
    letter-spacing: 0;
}

.e2_214 { 
	background-color: rgba(74.0000031888485, 210.00000268220901, 153.00000607967377, 1);
    width: 168px;
    height: 52px;
    position: absolute;
    left: 110%;
    top: 740px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.e2_215 { 
	color: rgba(255, 255, 255, 1);
    width: 104px;
    height: 16px;
    position: absolute;
    left: 120%;
    top: 757px;
    font-family: Roboto;
    text-align: center;
    font-size: 14px;
    letter-spacing: 0;
}

.e2_216 { 
	width: 64px;
    height: 64px;
    position: absolute;
    left: 109%;
    top: 62%;
}
.e2_217 { 
	background-color: rgba(74.0000031888485, 210.00000268220901, 153.00000607967377, 1);
    width: 53.33333206176758px;
    height: 53.33333206176758px;
    position: absolute;
    left: 5.3333330154418945px;
    top: 5.3333330154418945px;
}
.e2_218 { 
	width: 238px;
    height: 60px;
    position: absolute;
    left: 128%;
    top: 481px;
    background-image: url(Imagenes/image_6.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.e2_219{ 
	color: rgba(0, 0, 0, 1);
    width: 35px;
    height: 18px;
    position: absolute;
    left: 186%;
    top: 496px;
    font-family: Inter;
    text-align: center;
    font-size: 15px;
    letter-spacing: 0;
}

.e2_220 { 
	color: rgba(0, 0, 0, 1);
    width: 85px;
    height: 12px;
    position: absolute;
    left: 174%;
    top: 541px;
    font-family: Inter;
    text-align: center;
    font-size: 10px;
    letter-spacing: 0;
}
.e2_221 { 
	background-color: rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 0);
    width: 265px;
    height: 64px;
    position: absolute;
    left: 127%;
    top: 492px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.e2_221 { 
	border:1px solid rgba(73.63124817609787, 210.37499696016312, 152.94259876012802, 1);
}

.e2_222 { 
	background-color: rgba(252.87500202655792, 144.39162880182266, 44.253124594688416, 0);
    width: 344px;
    height: 158px;
    position: absolute;
    left: 109%;
    top: 571px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.e2_222 { 
	border:1px solid rgba(44.000001177191734, 132.0000073313713, 121.00000038743019, 1);
}
.e2_223 { 
	color: rgba(0, 0, 0, 1);
    width: 327px;
    height: 143px;
    position: absolute;
    left: 112%;
    top: 577px;
    text-align: left;
    font-size: Symbol(figma.mixed)px;
    letter-spacing: 0px;;
}